.header
  i.fa.fa-exchange.fa-lg.toggle-sidebare
  .dropdown.notification-container
    i.fa-solid.fa-bell.fa-lg.header-icon.toggle-notification#notification.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    .dropdown-menu(aria-labelledby='notification')
      .noti-head
        | Notification
        span 50
      .noti-content
        ul.list-unstyled
          li
            i.fa-solid.fa-envelope.fa-lg.fa-fw.icon-noti
            | You Got Emai From Bla Bla Bla
          li
            i.fa-solid.fa-money-bill.fa-lg.fa-fw.icon-noti
            | You Got Mony From Bla Bla Bla
          li
            i.fa-solid.fa-thumbs-up.fa-lg.fa-fw.icon-noti
            | You Got Like From Bla Bla Bla
          li
            i.fa-solid.fa-phone.fa-lg.fa-fw.icon-noti
            | You Got Call From Bla Bla Bla
          li
            i.fa-solid.fa-comment.fa-lg.fa-fw.icon-noti
            | You Got Comment From Bla Bla Bla
      .noti-foot.text-center: a(href="#") View All Notification
  i.fa-solid.fa-maximize.fa-lg.toggle-fullscreen.header-icon
  .dropdown.usermenu-container
    .username#usermenu(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      img.avatar.rounded-circle.img-thumbnail(src="imgs/user-image.jpg", alt="User Image")
      span.user Brahim HAMAMA
      i.fa-solid.fa-angle-down.fa-lg
    .dropdown-menu.dropdown-menu-right(aria-labelledby='usermenu')
      .user-info
        h3 Brahim HAMAMA
        p Premium Member
      hr
      ul.activities-list.list-unstyled
        li Added Comment on Post "How To Make Bla Bla Bla"
        li Create Post On Categorie "Science"
        li Create Chart On Charts Page
        li Added Comment on Post "How To Make Bla Bla Bla"
      hr 
      .row.usermenu-links
        .col
          .link-box
            .fa-solid.fa-gear.fa-lg.fa-fw
            span Settings
        .col
          .link-box
            .fa-solid.fa-user.fa-lg.fa-fw
            span My Profile
        .col
          .link-box
            .fa-solid.fa-power-off.fa-lg.fa-fw
            span Logout
