.header{
    background-color: #fff;
    padding: 1.25rem;
    .header-icon{
        background-color: #eee;
        padding: 10px;
        border-radius: 50%;
        color: #333;
        cursor: pointer;
        margin-right: 10px;
    }
    .toggle-sidebare{
        cursor: pointer;
    }
    .notification-container{
        display: inline-block;
        margin-left: 20px;
        .dropdown-menu{
            min-width: 600px;
            border: none;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: -10px;
                left: 10px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
            }
            .noti-head{
                background-color: #333;
                padding: 15px;
                color: #fff;
                span{
                    float: right;
                }
            }
            .noti-content{
                padding: 10px;
                ul{
                    margin: 0;
                    li{
                        padding: 5px;
                        color: #777;
                        border-bottom: 1px solid #e9e8e8;
                        margin-bottom: 10px;
                        font-size: 1rem;
                        &:first-child{
                            padding-top: 0;
                        }
                        &:last-child{
                            padding-bottom: 0;
                            margin-bottom: 0;
                            border-bottom: none;
                        }
                        .icon-noti{
                            margin-right: 10px;
                            &.fa-envelope{
                                color: #4caf50;
                            }
                            &.fa-money-bill{
                                color: #c0392b;
                            }
                            &.fa-thumbs-up{
                                color: #2980b9;
                            }
                            &.fa-phone{
                                color: #c0392b;
                            }
                            &.fa-comment{
                                color: #4caf50;
                            }
                        }
                    }
                }
            }
            .noti-foot{
                a{
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #eee;
                    &:hover{
                        text-decoration: none;
                    }
                }
                
            }

        }
    }
}