.setting-box.hide-settings
  .toggle-settings
    i.fa-solid.fa-gear.fa-lg.gear-icon
  .setting-content
    .option-box
    h4 Color Options
    .option-box
    h4 Font Options
    .option-box
    h4 Sidebar Options